.closeBtn {
    background-color: #ec407a;
    color: white;
}

.editBtn {
    background-color: #039be5;
    color: white;
}

.saveBtn {
    background-color: #ec407a;
    color: white;
}

input[type="button"]:disabled,
input[type="submit"]:disabled {
    background-color: grey;
}

input[type="submit"] {
    background: #00e676;
    color: white;
}

input[type="button"],
input[type="submit"] {
    padding: 0.25em 0.5em 0.25em 0.5em;
}