*{
    font-family: sans-serif;
    font-size: 1.1em; /*otherwise too small for phones*/
    margin: 0;
    padding: 0;
}

#recipe{
    margin-bottom: 5em; /* needed to avoid bottom bar override */
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
}

/*** INGREDIENT ***/

    form{
        border: 1px solid black;
        border-radius: 8px;
        padding: .5em;
        margin: 1em;
        max-width: max-content;
        min-width: 28em;
    }
    fieldset{
        border: none;
        border-top: 1px dashed black;
    }

    /* Label and inputs inside ingredients */
    label{
        display: inline-block;
    }
    input{
        margin: .5em;
        text-align: center;
    }
    input[type="number"]{
        width: 5em;
	}
	input[type="button"]{
		min-width: 2em;
		height: 2em;
		padding:0.15em;
	}
    #controlPanel button{
		height: 2em;
		width: 2em;
	}

    /* Report table for ingredients */
    .ingredient-report{
        margin: auto;
        margin-top: .5em;
        border-collapse: collapse;
    }
    .ingredient-report td, .ingredient-report th{
        border: 1px solid black;
        padding: .3em;
        text-align: center;
        font-weight: normal;
        font-size: 1em;
    }

    /* Pieces number buttons (+ -) */
    .divided label{
    	float:left;
    }
    .controls-container{
        margin-top: -3em;
        float:left;
    }

    /*invalid data was inserted by user*/
    .invalidInput
    {
    	background: red;
    	color: white;
    }
    
/******************/

/* Bottom bar (controls container) */
#controlPanel{
    text-align: center;
    position: fixed;
    width: 98%;
    bottom: 0;
    right: 0;
    padding: 1em;
    background-color: #ECECEC;
    border-top: 1px solid black;
}
#controlPanel *{
    margin-left: .2em;
    margin-right: .2em;
    display: inline;
}
#controlPanel .buttons{
    display: inline-block;
}

/*Recipe View*/
#recipeView{
    margin-bottom: 5em;
    background-color: #ECECEC; 
}

#recipeView .ingredient{
    margin:auto;
    margin-top: 1em;
    margin-bottom: 1em;
}