*{
	margin: 0px;
	font-size: 1.15em;
}

.ingredient
{
	background-color: white;
	padding:1em;
	margin: auto;
	margin-top: 1em;
	overflow: auto;
	max-width: 37em;
	min-width: 20em;
	border-radius: 0.75em;
}

.ingredient p{
	font-style: italic;
}

.ingredient input{
	text-align: center;
	margin: 0em 0.25em 0em 0.25em;
}

.invalidInput{
	border-color: red;	
}

#ingredientName
{
	text-align: left;
	width: 70%;
}

#sampleGramsDiv p, #sampleCarbsDiv p{
	float:left;
	height: 2em;
	white-space: nowrap;
}

#sampleGramsDiv input, #sampleCarbsDiv input{
	width: 4em;
	float:left;
}

#sampleGramsDiv
{
	float:left;
}

#sampleCarbsDiv
{
	white-space: nowrap;
	float:left;
}


#totalGramsDiv, #totalBreadUnitsDiv
{
	padding:0.5em;
	margin-bottom: 0.5em;
 	border-radius: 0.65em;
}

#gramsPerPieceResultText, #carbsPerPieceResultText, #breadUnitsPerPieceResultText
{
	padding: 0.1em 0.4em 0.1em 0.4em;
	border-radius: 0.65em;
}

#totalGramsDiv
{
	background-color: rgba(230, 120, 210, 0.75);
	float:left;
	clear:both;
	max-width: 42%;
}

#totalBreadUnitsDiv
{
	background-color: rgba(120, 230, 230, 0.75);
	float:right;
	max-width: 42%;
}

#totalBreadUnitsDiv p, #totalGramsDiv p {
	clear: both;
	white-space: wrap;
}

#totalBreadUnitsDiv input, #totalGramsDiv input {
	max-width: 95%;
}

#totalCarbsDiv
{
	clear:both;
	background-color: rgba(240, 170, 60, 0.75);
	margin: 4.25em 0em 0em 0em;
}

#thirdRow p
{
	float:left;
}

#thirdRow input
{
	width: 4em;
	float: left;
}

#thirdRow button
{
	float:right;
}

#gramsPerPieceResultText
{
	background-color: rgba(230, 120, 210, 0.75);
}

#carbsPerPieceResultText
{
	background-color: rgba(240, 170, 60, 0.75);
}

#breadUnitsPerPieceResultText
{
	background-color: rgba(120, 230, 230, 0.75);
}

hr
{
	clear:both;
	margin: 0.5em;
}

table{
	width: 100%;
	text-align: center;
}

table th{
	font-style: italic;
	font-weight: normal;
	font-size: 1em;
}


#plusButton, #minusButton
{
	cursor: pointer;
	border-radius: 100%;
	background-color: lightgrey;
  	border-color: lightgrey;
  	border-width: 0.05em;
 	width: 1.75em;
 	height: 1.75em;
 	margin: 0em 0.1em 0em 0.1em;
 	font-size: 1em;
}

#closeButton
{
	float:right;
}


