
input[type="number"], input[type="text"]{
	padding:0.25em 0.5em 0.25em 0.5em;
	text-align:center;
}

.non_editable{
	border:none;
}

.non_editable:disabled{
	background-color:white;
	color:black;
}

#insertForm{
	width: initial;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
#insertForm > *{
	margin: .5em;
}

#ingredientDescriptions, #recipesList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-self: stretch;
}
form{
	width: max-content;
}
form > *{
	display: block;
	margin: .3em auto;
}
input[type="number"]{
	font-weight: bold;
	text-align: right;
	width: 5em;
}
input[type="text"]{
	font-weight: bold;
}

table{
	border-collapse: collapse;
	width: 100%;
}
td, th{
	border: 1px solid lightgrey;
	padding: .3em;
	text-align: center;
	font-size: 1em;
}