*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body{
    max-width: 2048px;
    margin: auto;
    background-color: #f6f8fa;
}
body.dark{
    background-color: #2F4858;
}
h1{
    font-weight: normal;
}

/* Header */
header{
    padding: .5em;
    background-color: #00A4A8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Menu */
menu{
    background-color: #00C4B2;
    padding: .5em;
    list-style: none;
}
menu li{
    display: inline-block;
    margin: .5em;
}
menu img{
    display: none;
}

/* Main */
main{
}
main p, main h1, main h2, main a{
    display: block;
    margin: 1em;
}

/* Login form */
form{
    width: max-content;
    background-color: #fff;
    box-shadow: 0 1px 4px #00000030;
    border-radius: 8px;
    margin: 1em auto;
    padding: 1em;
}
#login * {
    margin-bottom: 1em;
    display: block;
}
#login input{
    height: 2em;
    padding: 0 1em;
}
#login span{
    color: red;
}

input[type="button"], input[type="submit"], button{
    background-color: lightgray;
    height: 2em;
    border-radius: 4px;
    border: none;
}

footer{
    clear: both;
    font-size: .7em;
    background-color: #2F4858;
    color: white;
    padding: .5em;
    text-align: center;
}