*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body{
    max-width: 2048px;
    margin: auto;
    background-color: #f6f8fa;
}
body.dark{
    background-color: #7792BC;
}
h1{
    font-weight: normal;
}

/* Header */
header{
    padding: .5em;
    color: #7792BC;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 img{
    height: 1.3em;
    vertical-align: middle;
}

/* Menu */
menu{
    color: #E6F4F1;
    background-color: #7792BC;
    list-style: none;
    padding: .5em;
}
menu li, #aLogin{
    font-size: .9em;
    display: inline-block;
    padding: .5em;
}
menu a li:hover{
    background-color: #F2FAFF;
    border-radius: 4px;
}
menu a, #aLogin{
    text-decoration: none;
    color: black;
}
menu img{
    display: none;
}

#aLogin:hover{
    background-color: #7792BC;
    color: white;
    border-radius: 4px;
}

#hamburger{
    display: none;
}
#hamburger:focus{
    outline: none;
}
#profileMenu {
    float: right;
    display: block;
}
#profileMenu li{
    margin: 0 .25em 0 .25em;
}

/* Main */
main p, main h1, main h2, main a{
    display: block;
    margin: 1em;
}

/* Login form */
form{
    width: max-content;
    background-color: #fff;
    box-shadow: 0 1px 4px #00000030;
    border-radius: 8px;
    margin: 1em auto;
    padding: 1em;
}
#login * {
    margin-bottom: 1em;
    display: block;
}
#login input{
    height: 2em;
    padding: 0 1em;
}
#login span{
    color: red;
}

input[type="button"], input[type="submit"], button{
    background-color: lightgray;
    height: 2em;
    border-radius: 4px;
    border: none;
}
input[type="button"]:hover, input[type="submit"]:hover, button:hover{
    background-color: #7792BC;
    cursor: pointer;
}

footer{
    clear: both;
    font-size: .7em;
    background-color: #CF7B56;
    color: white;
    padding: .5em;
    text-align: center;
}
footer *{
    white-space: nowrap;
}