*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f6f8fa;
}
body.dark{
    background-color: #2F4858;
}
h1{
    font-weight: normal;
}

header{
    padding: 1em;
    background-color: #00A4A8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

menu{
    padding: 1em;
    background-color: #00C4B2;
}
menu ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
menu li{
    text-align: center;
}
menu img{
    display: block;
    height: 1.7em;
    width: 100%;
    padding-bottom: .5em;
}

main a{
    display: block;
}
main p, main h1, main h2, main a{
    margin:1em;
}
